{
  "arrowParens": "avoid",
  "semi": false,
  "jsxBracketSameLine": true,
  "trailingComma": "all",
  "singleQuote": true,
  "overrides": [
    {
      "files": "src/**/*.md",
      "options": {
        "parser": "mdx"
      }
    }
  ]
}
